# Date-Time Guide for Data Scientist in Python

1.1 String to Timestamp<br>

When we read a CSV file using pd.read_csv('data.csv') command, pandas reads date column as an object (string). Pandas can be used to convert string to Timestamp object.

In [57]:
import pandas as pd
df = pd.read_csv(r"D:\WQU\WQU\datacourse_python\data\rugby_world_cup_2019.csv")

In [58]:
df.head()

,DATE,POOL,MATCH,MATCH.1,MATCH.2,MATCH.3,MATCH.4,KICK-OFFS,VENUE,LIVE BROADCASTS
0,Sept. 20 2019,A,Japan,30,–,10,Russia,19:45,Tokyo Stadium,"J-Sports, NTV, BS1"
1,Sept. 21 2019,D,Australia,39,–,21,Fiji,13:45,Sapporo Dome,"J-Sports, NTV, BS1"
2,Sept. 21 2019,C,France,23,–,21,Argentina,16:15,Tokyo Stadium,J-Sports
3,Sept. 21 2019,B,New Zealand,23,–,13,South Africa,18:45,International Stadium Yokohama,J-Sports
4,Sept. 22 2019,B,Italy,47,–,22,Namibia,14:15,Hanazono Rugby Stadium,J-Sports

In [59]:
df.DATE.dtype

dtype('O')

In [60]:
# Creating date time 
df["DATE"] = pd.to_datetime(df['DATE']+" "+df['KICK-OFFS'])

In [61]:
df.head()

,DATE,POOL,MATCH,MATCH.1,MATCH.2,MATCH.3,MATCH.4,KICK-OFFS,VENUE,LIVE BROADCASTS
0,2019-09-20 19:45:00,A,Japan,30,–,10,Russia,19:45,Tokyo Stadium,"J-Sports, NTV, BS1"
1,2019-09-21 13:45:00,D,Australia,39,–,21,Fiji,13:45,Sapporo Dome,"J-Sports, NTV, BS1"
2,2019-09-21 16:15:00,C,France,23,–,21,Argentina,16:15,Tokyo Stadium,J-Sports
3,2019-09-21 18:45:00,B,New Zealand,23,–,13,South Africa,18:45,International Stadium Yokohama,J-Sports
4,2019-09-22 14:15:00,B,Italy,47,–,22,Namibia,14:15,Hanazono Rugby Stadium,J-Sports